			<div class="homepage">
				<% if user_signed_in? %>
					<div class='form-upload'>
			    	<%= render 'upload_form' %>
			  	</div>

				<div class="posts">
				  <% @posts.each do |post| %>
				    <section class="post">
				      <div class="user">
			    	<div class="avatar">
			    		      <% if post.user.avatar.attached? %>
        						<%= link_to user_path(post.user) do %>
          							<%= image_tag post.user.avatar %>
        						<% end %>
      						<% end %>
			    	</div>
			    <%= link_to post.user.username, user_path(post.user), class: 'username' %>
				</div>
				  <%= image_tag post.image, class: 'main-image' %>
				  <div class="description">
				    <%= post.description %>
				  </div>
				  <!---div class="comment">
      					<%#=post.comments.username  %>
      					<%#=post.comments.comment %>
				  </div---->
				    </section>
				  <% end %>
				  <%= paginate @posts %>
				</div>
	            <% else %>
	            <!---a href="<%= new_user_session_path%>">
	              <i class="fa fa-sign-in"></i>
	            </a--->
	          <% end %>
			</div>



