<% @post.comments.each do |comment| %>
    <span>
      <strong>
        <%= link_to comment.user.username, user_path(comment.user),
          class: "no-text-decoration normal-color" %>
      </strong>
    </span>
    <span><%= comment.content %></span>
  </div>
<% end %>